
<ion-header >

  <ion-navbar color="taba">
    <ion-title>แก้ไขข้อมูล</ion-title>
  </ion-navbar>

</ion-header>


<ion-content   class="background">
    <ion-list *ngFor="let item of items">
                    <ion-card>
                      <ion-card-header>ข้อมูลกลุ่ม</ion-card-header>
                      
                          <ion-card-content >
                              <h4><b>กลุ่มธุรกิจ</b><ion-input  type="text" placeholder="กลุ่มธุรกิจ" value="{{ item.g_code }}" ></ion-input></h4>
                              <h4><b>ประเภทธุรกิจ</b> <ion-input  type="text" placeholder="ชื่อสินค้า" value="{{ item.t_code }}" ></ion-input></h4>
                              <h4><b>ชื่อประธานกลุ่ม</b><ion-input  type="text" placeholder="ชื่อประธานกลุ่ม" value="{{ item.boss_name }}" ></ion-input></h4>
                              <h4><b>หมายเลขโทรศัพท์</b><ion-input type="text" placeholder="หมายเลขโทรศัพท์" value="{{ item.boss_tel }}" ></ion-input></h4>
                        </ion-card-content>
                        
                        
                    </ion-card>
                    <ion-card>
                       
                            <ion-card-header>ข้อมูลสมาชิก</ion-card-header>
                            
                            <ion-card-content >
                                  <h4><b>เลขทะเบียนสมาชิก</b> <ion-input type="text" placeholder="เลขทะเบียนสมาชิก" value="{{ item.mem_no }}" ></ion-input></h4>
                                  <h4><b>ชื่อกลุ่มวิสาหกิจ</b> <ion-input type="text" placeholder="ชื่อกลุ่มวิสาหกิจ" value="{{ item.mem_typeid }}" ></ion-input></h4>
                                  <h4><b>ชื่อสมาชิก</b>  <ion-input type="text" placeholder="ชื่อสมาชิก" value="{{ item.mem_name }}" ></ion-input></h4>
                                  <h4><b>ชื่อเล่น</b> <ion-input type="text" placeholder="ชื่อเล่น" value="{{ item.mem_nickname }}" ></ion-input></h4>
                                  <h4><b>วันเกิด</b> <ion-input type="text" placeholder="วันเกิด" value="{{ item.mem_birthday }}" ></ion-input></h4>
                                  <h4><b>อาชีพ</b> <ion-input type="text" placeholder="อาชีพ" value="{{ item.mem_metier }}" ></ion-input></h4>
                                  <h4><b>รายได้</b><ion-input type="text" placeholder="รายได้" value="{{ item.mem_income }}" ></ion-input></h4>
                                  <h4><b>ที่อยู่</b><ion-input type="text" placeholder="ที่อยู่" value="{{ item.mem_addr }}" ></ion-input></h4>
                                  <h4><b>ภูมิภาค</b><ion-input type="text" placeholder="ภูมิภาค" value="{{ item.geo_id }}" ></ion-input></h4>
                                  <h4><b>จังหวัด</b></h4>
                                  <ion-select (click)=load1(province) stacked [(ngModel)]="province" placeholder="{{item.province_name }}">
                                      <ion-option value="{{ item.province_id }}"selected>ปัจจุบัน {{item.province_name }}</ion-option>
                                      <ion-option *ngFor="let province of provinceall" value="{{ province.province_id }}" >{{ province.province_name }}</ion-option>
                                  </ion-select>
                                  <h4><b>อำเภอ</b></h4>
                                  <ion-select (click)=load1(province) (click)=load2(amphur) stacked [(ngModel)]="amphur" placeholder="{{item.amphur_name }}">
                                      <ion-option  value="{{ item.amphur_id }}"selected>ปัจจุบัน {{item.amphur_name }}</ion-option>
                                      <ion-option *ngFor="let amphur of amphurall" value="{{ amphur.amphur_id }}">{{ amphur.amphur_name }}</ion-option>
                                  </ion-select>
                                  <h4><b>ตำบล</b></h4>
                                  <ion-select (click)=load2(amphur) stacked [(ngModel)]="district" placeholder="{{item.district_name }}">
                                      <ion-option  value="{{ item.district_id }}"selected>ปัจจุบัน {{item.district_name }}</ion-option>
                                      <ion-option  *ngFor="let district of districtall" value="{{ district.district_id }}">{{ district.district_name }}</ion-option>
                                  </ion-select>
                            </ion-card-content>
                          </ion-card>
                          <ion-card>
                             
                            <ion-card-header>ข้อมูลช่องทางการติดต่อ</ion-card-header>
                            
                            <ion-card-content >
                                  <h4><b>เบอร์บ้าน</b><ion-input type="text" placeholder="เบอร์บ้าน" value="{{ item.mem_telhome }}" ></ion-input></h4>
                                  <h4><b>มือถือ</b><ion-input type="text" placeholder="มือถือ" value="{{ item.mem_mobile }}" ></ion-input></h4>
                                  <h4><b>เบอร์แฟก</b><ion-input type="text" placeholder="เบอร์แฟก" value="{{ item.mem_fax }}" ></ion-input></h4>
                                  <h4><b>อีเมล์</b><ion-input type="text" placeholder="อีเมล์" value="{{ item.mem_email }}" ></ion-input></h4>
                                  <h4><b>ไลน์ไอดี</b><ion-input type="text" placeholder="ไลน์ไอดี" value="{{ item.mem_line }}" ></ion-input></h4>
                                  <h4><b>Facebook</b><ion-input type="text" placeholder="Facebook" value="{{ item.mem_fb }}" ></ion-input></h4>
                                  <h4><b>Twitter</b><ion-input type="text" placeholder="Twitter" value="{{ item.mem_twitter }}" ></ion-input></h4>
                            </ion-card-content>
                              </ion-card>
                              <ion-card>
                                 
                            <ion-card-header>ข้อมูลเกี่ยวกับธุรกิจ</ion-card-header>
                                    
                                <ion-card-content >
                                   <h4><b>รายละเอียดธุรกิจ</b><ion-input type="text" placeholder="รายละเอียดธุรกิจ" value="{{ item.mem_detail }}" ></ion-input> </h4>                                    
                                </ion-card-content>
                            </ion-card>
                          </ion-list>
      <button  ion-button block outline (click)=update() color="light" >บันทึก</button>
</ion-content>
