page-about {
    .liststyle {
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0);
        border: medium none;
        color: #fff!important;
       
    }
    ion-item.item {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.3);
    }
}
