page-map {
    .gm-style .gm-style-iw {
        background:rgba(255, 255, 255, 1) !important;
        top: 20px !important;
        left: 25px !important;
        width: auto !important;
        height: auto !important;
        min-height: 120px !important;
        padding-top: 10px;
        border-radius: 10px; 
     }    
    .gm-style div{
        background:rgba(255, 255, 255, 0)!important;
    }
    #map {
        height: 100%;
      }
      ion-input[type=text]{
        color: #000000;
        margin:0 center;
        background: rgba(255, 255, 255, 1);
        border-radius: 5px; 
        max-width: 100%!important;
        height: 95%!important;
    }
    ion-select{
        color: #000000;
        margin:0 center;
        background: rgba(255, 255, 255, 1);
        border-radius: 5px; 
        max-width: 100%!important;
        max-height: 95%!important;
    }
    .button{
        color: #000000;;
        background: rgba(255, 255, 255, 1);
        border-radius: 5px; 
        max-width: 100%!important;
        max-height: 75%!important;
    }
    ion-navbar{
        width: 100vw;
        height: 5vh;
    }
    ion-card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0);
        border-radius: 10px; 
        height:auto;
        width: 200px;
        text-align: justify;
    }
    ion-card-title {
        color: rgb(0, 0, 0)!important;
        width: 100vw;
    }
    ion-card-content {
        color: rgb(0, 0, 0)!important;
        width: 100vw;
    }
    img{
        height:120px;
        width: 200px;
    }

}


