<ion-header>

  <ion-navbar color="taba">
      <ion-row>
          <ion-col col-5>
                <ion-input color="light" type="text" placeholder="คำค้นหา" [(ngModel)]="searchw" ></ion-input>
          </ion-col>
          <ion-col col-5>
                <ion-select  stacked [(ngModel)]="searchd" placeholder="เลือกประเภทสินค้า">
                    <ion-option value="0" selected>ทั้งหมด</ion-option>
                    <ion-option *ngFor="let type of type" value="{{ type.t_code }}">{{ type.t_name }}</ion-option>
                </ion-select>
          </ion-col>
          <ion-col col-2>
              <button class="button" ion-button  (click)=search() color="light"  >ค้นหา</button>
          </ion-col>
      </ion-row>
      
  </ion-navbar>

</ion-header>


<ion-content class="background">
  <ion-list>
      <ion-card *ngFor="let item of items"  (click)=viewDetail(item) no-lines>
          <ion-slides pager style="height: 300px;">

              <ion-slide ><img style="width: 100vw;height: 300px" src="http://localhost:80/smce/upload/{{ item.gds_pic1 }}"/></ion-slide>
              <ion-slide ><img style="width: 100vw;height: 300px" src="http://localhost:80/smce/upload/{{ item.gds_pic2 }}"/></ion-slide>
              <ion-slide ><img style="width: 100vw;height: 300px" src="http://localhost:80/smce/upload/{{ item.gds_pic3 }}"/></ion-slide>
              <ion-slide ><img style="width: 100vw;height: 300px" src="http://localhost:80/smce/upload/{{ item.gds_pic4 }}"/></ion-slide>
            
            </ion-slides>
        <ion-card-content >
            <ion-card-title>
              {{ item.gds_name }}
            </ion-card-title>
            <h4><b>คุณสมบัติ</b> {{ item.gds_prob }}</h4>
            <h4><b>ราคา</b> {{ item.gds_price }} บาท</h4>
          </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>