page-user {

    ion-card.card {
        box-shadow: rgb(10, 10, 10);
        background: rgb(255, 255, 255);
        border: medium none;
        border-radius: 10px; 
        margin-top: 6px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 0px;
        height: 50%;
        width: 99vw;
        text-align: justify;
    }
    a,p,
    ion-card-header.card-header {
        color: #000000!important;
    }
    .list > .item-block:first-child {
        border: medium none;
    }
    
    .item {
        margin-bottom: 2px;
        background: rgba(255,255,255,0);
        border: medium none;
        .text-input, {
            color: #fff!important;
        }
        input::-moz-placeholder {
            color: #fff!important;
        }
        input::-moz-placeholder {
            color: #fff!important;
        }
        *::-webkit-input-placeholder {
            color: #fff!important;
        }
        *:-ms-input-placeholder {
            color: #fff!important;
        }
        *:-moz-input-placeholder {
            color: #fff!important;
        }
    }
}
