<ion-header>

  <ion-navbar color="taba" >
    <ion-title><ion-icon  color="light" name = "person"> ผู้ประกอบการ</ion-icon></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">
        <ion-refresher  (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="เลื่อนลงเพื่อโหลดใหม่"
                  refreshingSpinner="circles"
                  refreshingText="กำลังโหลดใหม่">
                </ion-refresher-content>
              </ion-refresher>
  <ion-list> 
    <ion-card *ngFor="let item of items">
        <img style="height: 300px" src="http://esmce.nrru.ac.th/smce/upload/{{ item.mem_image }}"/>
    </ion-card>
            <ion-card *ngFor="let item of items" no-lines>
              <ion-card-content >
                  <ion-card-title>
                      <b> {{ item.mem_name }}</b>
                  </ion-card-title>
                  <h4><b>ข้อมูลธุรกิจ</b> {{ item.mem_detail }}</h4><br>
                </ion-card-content>
            </ion-card>
            
            <ion-card *ngFor="let item of items" no-lines>
                <ion-card-content >
                    <ion-card-title><b>เกี่ยวกับที่อยู่</b></ion-card-title>
                    
                    <h4><b>ที่อยู่ </b>{{ item.mem_addr }}</h4><br>
                    <h4><b>ตำบล</b> {{ item.district_name }}</h4><br> 
                    <h4><b>อำเภอ</b> {{ item.amphur_name }}</h4><br>
                    <h4><b>จังหวัด</b> {{ item.province_name }}</h4><br>
                  </ion-card-content>
              </ion-card>
              <ion-card *ngFor="let item of items" no-lines>
                  <ion-card-content >
                      <ion-card-title><b>ช่องทางการติดต่อ</b></ion-card-title>

                      <h4><b>เบอร์บ้าน</b> {{ item.mem_telhome }}</h4><br>
                      <h4><b>มือถือ</b> {{ item.mem_mobile }}</h4><br>
                      <h4><b>เบอร์แฟก</b> {{ item.mem_fax }}</h4><br>
                      <h4><b>อีเมล์</b> {{ item.mem_email }}</h4><br>
                      <h4><b>ไลน์ไอดี</b> {{ item.mem_line }}</h4><br>
                      <h4><b>Facebook</b> {{ item.mem_fb }}</h4><br>
                      <h4><b>Twitter</b> {{ item.mem_twitter }}</h4>
                    </ion-card-content>
                </ion-card>
                <ion-card >
                    <ion-card-title><b>สินค้าจากอื่นๆจากผู้ประกอบการ</b></ion-card-title>
                </ion-card>
                <ion-card *ngFor="let itemdatas of itemdata" (click)=viewDetail(itemdatas) no-lines>
                    <ion-slides pager style="height: 300px;">

                        <ion-slide ><img style="width: 100vw;height: 300px" src="http://esmce.nrru.ac.th/smce/upload/{{ itemdatas.gds_pic1 }}"/></ion-slide>
                        <ion-slide ><img style="width: 100vw;height: 300px" src="http://esmce.nrru.ac.th/smce/upload/{{ itemdatas.gds_pic2 }}"/></ion-slide>
                        <ion-slide ><img style="width: 100vw;height: 300px" src="http://esmce.nrru.ac.th/smce/upload/{{ itemdatas.gds_pic3 }}"/></ion-slide>
                        <ion-slide ><img style="width: 100vw;height: 300px" src="http://esmce.nrru.ac.th/smce/upload/{{ itemdatas.gds_pic4 }}"/></ion-slide>
                      
                      </ion-slides>
                  <ion-card-content >
                      <ion-card-title>
                        {{ itemdatas.gds_name }}
                      </ion-card-title>
                      <h4><b>คุณสมบัติ</b> {{ itemdatas.gds_prob }}</h4>
                      <h4><b>ราคา</b> {{ itemdatas.gds_price }} บาท</h4>
                    </ion-card-content>
                </ion-card>
  </ion-list>
</ion-content>
