<ion-header>

  <ion-navbar color="taba">
              <ion-title>เพิ่มสินค้า</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">
   
  <ion-card>
  <ion-card-title>  ข้อมูลสินค้า</ion-card-title>
  <ion-card-content>
    
  <b>ประเภทธุรกิจ </b><br>
  <ion-item>
    <ion-select  stacked [(ngModel)]="g_code" placeholder="เลือกประเภทธุรกิจ">
    <ion-option *ngFor="let business of business" value="{{ business.g_code }}">{{ business.g_name }}</ion-option>
  </ion-select>
  </ion-item>

    <b>ประเภทสินค้า </b><br>
  <ion-item>
  <ion-select  stacked [(ngModel)]="t_code" placeholder="เลือกประเภทสินค้า">
  <ion-option *ngFor="let type of type" value="{{ type.t_code }}">{{ type.t_name }}</ion-option>
  </ion-select>
</ion-item>
  <b>ชื่อสินค้า <ion-input type="text" placeholder="ชื่อสินค้า" value="" [(ngModel)]="gds_name" ></ion-input></b>
  <b>รายละเอียดสินค้า <ion-input type="text" placeholder="รายละเอียดสินค้า" value="" [(ngModel)]="gds_detail" ></ion-input></b>
  <b>คุณสมบัติสินค้า <ion-input type="text" placeholder="คุณสมบัติสินค้า" value="" [(ngModel)]="gda_prob" ></ion-input></b>
  <b>ราคาสินค้า <ion-input type="number" placeholder="ราคาสินค้า" value="" [(ngModel)]="gds_price" ></ion-input></b>
  </ion-card-content>
  </ion-card> 
  <ion-card>
      <ion-card-content>
        <b>ภาพด้านหน้า</b><br>
        <img (click)=takePhoto1() src="{{ myphoto1 }}"/>
        <b>ภาพด้านซ้าย</b><br>
        <img (click)=takePhoto2() src="{{ myphoto2 }}"/>
        <b>ภาพด้านขวา</b><br>
        <img (click)=takePhoto3() src="{{ myphoto3 }}"/>
        <b>ภาพด้านหลัง</b><br>
        <img (click)=takePhoto4() src="{{ myphoto4 }}"/>
      </ion-card-content>
  </ion-card>
  <ion-fab bottom right color="light" >
      <button ion-fab mini (click)=update(g_code,t_code,gds_name,gds_detail,gda_prob,gds_price) ion-fab><ion-icon name="cloud-upload"></ion-icon></button>
  </ion-fab>
</ion-content>
